.header__form_title h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.header__form_summary {
  font-size: 1.375rem!important;
  font-weight: 400 !important;
  margin-bottom: 1em;
}

.header__wizard_page_title {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.header__form_title_hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.
